*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
*.keystore

# OS
Thumbs.db
ehthumbs.db
/.idea/.name
/.idea/compiler.xml
/.kotlin/sessions/kotlin-compiler-226174434394642379.salive
/.idea/inspectionProfiles/Project_Default.xml
